:root {
    --main-background: #FCFCFC;
    --main-text-color: #111111;
    --main-card-bg-color: #424B54;
    --main-border-color: #414141;
    --main-link-color: lightblue;
    --main-card-background: #212121;
    --main-accent: #0DC1DC;
    accent-color: var(--main-accent);
    --main-border-radius: 5px;
    --big-border-radius: 20px;
    --main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    --main-transition: 0.3s;
    --main-margin-xxs: 4px;
    --main-margin-xs: 8px;
    --main-margin-s: 12px;
    --main-margin-m: 16px;
    --main-margin-l: 20px;
    --main-margin-xl: 28px;
    --main-margin-xxl: 40px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background: #111111;
        --main-text-color: #FCFCFC;
        --main-card-bg-color: #424B54;
        --main-border-color: #414141;
        --main-link-color: lightblue;
        --main-card-background: #212121;
        --main-accent: #0DC1DC;
    }
}

body {
    background-color: var(--main-background);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    transition: background-color var(--main-transition);
    min-height: 100vh;
    height: fit-content;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-card-bg-color);
    padding: 10px;
    box-shadow: var(--main-box-shadow);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--main-margin-m);
}

li{
    list-style-type: none;
}

a {
    color: var(--main-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-accent); /*TODO Anpassen*/

}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-accent);
}

button {
    background-color: var(--main-accent);
    color: var(--main-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    transition: background-color var(--main-transition);
}

button:hover {
    background-color: #0A9FC7;
}

button:active {
    background-color: #0A9FC7;
}

.ergebnis{
    color: var(--main-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    border-radius: var(--main-border-radius);
    background-color: var(--main-card-bg-color);
    box-shadow: var(--main-box-shadow);
    margin-top: var(--main-margin-xl);
}

#orga-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--main-margin-xl);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--main-margin-xl);
}

.orgaBild{
    height: 30%;
    aspect-ratio: 16 / 9;
}

#question-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--main-margin-xl);
    margin-top: var(--main-margin-xl);
    background-color: var(--main-card-bg-color);
    width: 85%;
    height: 60dvh;
}

#orga-container-solo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: var(--main-margin-xl);
    padding: var(--main-margin-xs);
}

.orga-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.OrgaKontakt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--main-margin-m);
    flex-direction: row;
}

.OrgaFakten{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

/*Large Desktop, TV, etc.*/
@media screen and (min-width: 1200px) {
    body{
        font-size: 1.2rem;
    }
}

/*Tablet landscape, laptop, Desktop*/
@media screen and (min-width: 992px) and (max-width: 1199px) {}

/*Tablet portrait*/
@media screen and (min-width: 767px) and (max-width: 991px) {}

/*mobile landscape*/
@media screen and (max-width: 480px) and (min-width: 766px) {}

@media screen and (max-width: 479px) {}